html
  head
    title Test Title This is
  body
    h1 Test Title
    form(id='dataform')
      textarea(name='text', rows='6', cols='80')
      button(type='submit') Submit

    script(src='/static/main.js?qweq12324')